<h1 mat-dialog-title class="create-goal-form-title">Create a goal</h1>
<form class="create-goal-form" (ngSubmit)="submitCreateGoalForm()" [formGroup]="createGoalFormData">
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100" floatLabel="always">
      <mat-label class="filter-header">
        Goal name*
      </mat-label>
      <input matInput formControlName="title" placeholder="Some new goal">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100" floatLabel="always">
      <mat-label class="filter-header">
        Url*
      </mat-label>
      <input matInput formControlName="url" placeholder="/url-to-create-goal">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100" floatLabel="always">
      <mat-label class="filter-header">
        Prerequisite url
      </mat-label>
      <input matInput formControlName="prerequisiteUrl" placeholder="/prerequisite-url-to-create-goal">
    </mat-form-field>
  </div>
    <div mat-dialog-actions>
      <button type="button" mat-button (click)="onNoClick()" color="accent" class="ml-auto">CLOSE</button>
      <button type="submit" mat-flat-button cdkFocusInitial color="accent">CREATE GOAL</button>
    </div>
  </form>