$my-lightblue: #3BB0FF;
$my-blue: #01579B;
$my-red: #B92D00;

$my-lightblue-palette: (
  100: $my-lightblue,
  contrast: (
    100: #fff
  )
);
$my-red-palette: (
  100: $my-red,
  contrast: (
    100: #fff
  )
);
$my-blue-palette: (
  100: $my-blue,
  contrast: (
    100: #fff
  )
);