/* You can add global styles to this file, and also import other style files */

@import "my-colors.scss";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
  width: 100%;
}

.min-h-100 {
  min-height: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none!important;
}

.align-center {
  align-items: center;
}

.fw-400 {
  font-weight: 400;
}

.fw-normal {
  font-weight: normal!important;
}

.ml-auto {
  margin-left: auto!important;
}

.mb-10 {
  margin-bottom: 10px;
}

.m-20 {
  margin: 20px;
}

.mr-12 {
  margin-right: 12px;
}

.p-0 {
  padding: 0!important;
}

.box-shadow-none {
  box-shadow: none!important;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.bc-white {
  background-color: #fff;
}

.text-warn {
  color: $my-red;
}

.outer-bc {
  background-color: #eee;
}

.mat-stroked-button:not([disabled]) {
  border-color: currentColor;
}

.search-box > * {
  background-color: transparent;
  border: none;
}

.search-box input {
  transform: translate(22px, 0);
}

.search-box input:focus + i {
  display: none;
}

.search-box input:focus {
  transform: translate(0, 0);
}

.invisible-button {
  padding: 0;
  border: none;
  cursor: pointer;
  /* outline: none; */
  background-color: transparent;
}

.fs-1-2-em {
  font-size: 1.2em;
}

.create-goal-form input {
  border-bottom: solid 1px transparent;
}

.create-goal-form input.ng-invalid.ng-touched {
  border-bottom: $my-red solid 1px;
}

.create-goal-form fieldset {
  border-radius: 5px;
}

.mat-dialog-title.create-goal-form-title {
  background-color: $my-lightblue;
  color: #fff;
  margin: -24px -24px 12px -24px;
  padding: 12px 24px;
}

.search-input-wrapper {
  .search-input {
    width: 0;
  }

  .search-input.toggled {
    width: 160px;
  }
}
